header{
    background-color: #e4572e;
    text-align: center;
}
h1{
    font-family: 'Chelsea Market', cursive; 
}
h2{
    font-family: 'Gamja Flower', cursive;
}
p{
    font-family: 'Gamja Flower', cursive;
}
main{
    background-color: #fffff2;
}
article{
    border: 4px solid #050401;
    box-shadow: 3px 3px 0 0 hsl(14, 77%, 54%);
    margin-bottom: 10px;
    overflow: hidden;
    width: 50%;
    margin: 10px 350px;
}
img{
    float: right;
}
footer{
    text-align: center;
}
form p{
    display: inline;
}
input{
    box-shadow: 3px 3px 0 0 #e4572e;
}